<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\sreelakshmi\AppData\Local\Programs\Python\Python39\python.exe|C:\Users\sreelakshmi\AppData\Local\Programs\Python\Python39\Scripts\wfastcgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
