<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\sreelakshmi\AppData\Local\Programs\Python\Python39\python.exe|C:\Users\sreelakshmi\AppData\Local\Programs\Python\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>